@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-login{
  background-image: url('https://i0.wp.com/imageio.forbes.com/specials-images/imageserve/62fe3a28c22bf8624fce7c7a/0x0.jpg?format=jpg&width=1200')
  
}

.bg-dashboard{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://t4.ftcdn.net/jpg/02/75/28/95/360_F_275289557_YptaQZDnGnDkcgm8b792ItXOqvvkTQAr.jpg')
}

@keyframes color-change {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.4), 0 0 30px rgba(255, 0, 0, 0.2);
  }
  25% {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.4), 0 0 30px rgba(0, 255, 0, 0.2);
  }
  50% {
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.4), 0 0 30px rgba(0, 0, 255, 0.2);
  }
  75% {
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.4), 0 0 30px rgba(255, 255, 0, 0.2);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(255, 0, 255, 0.4), 0 0 30px rgba(255, 0, 255, 0.2);
  }
}

.glow-on-hover {
  transition: text-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
  animation: color-change 2s infinite;
}

@keyframes color-change-box {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3), 0 0 30px rgba(255, 0, 0, 0.1);
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.3), 0 0 30px rgba(0, 255, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5), 0 0 20px rgba(0, 0, 255, 0.3), 0 0 30px rgba(0, 0, 255, 0.1);
  }
  75% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5), 0 0 20px rgba(255, 255, 0, 0.3), 0 0 30px rgba(255, 255, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.3), 0 0 30px rgba(255, 0, 255, 0.1);
  }
}

.sidebar-glow {
  transition: box-shadow 0.3s ease-in-out;
  animation: color-change-box 2s infinite;
}

/* styles/globals.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Membuat kontainer setinggi viewport */
  background-color: transparent; /* Warna latar belakang untuk kontras */
}

.glow-onHover {
  transition: box-shadow 0.3s ease-in-out;
}

.glow-onHover:hover {
  animation: color-change-box 2s infinite;
}


.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 240px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.menu-card .image-container {
  min-height: 260px; /* Sesuaikan dengan tinggi gambar yang diinginkan */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-card .image-border {
  width: 100%;
  border-bottom: 2px solid #ccc; /* Sesuaikan dengan border yang diinginkan */
  margin-bottom: 20px; /* Sesuaikan dengan margin yang diinginkan */
}

.menu-card .text-container {
  min-height: 50px; /* Sesuaikan dengan tinggi minimum teks */
}

.menu-card img {
  max-width: 100%;
  height: auto;
}

.menu-item {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.qty-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.qty-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background: none;
}
